@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010101;
}

/*Fonts*/
@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url("./fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("./fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.bg-box-slug {
  background: hsla(0, 100%, 98%, 0.3);

  background: linear-gradient(
    0deg,
    hsla(0, 100%, 98%, 0.3) 0%,
    hsla(0, 2%, 60%, 0.3) 100%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(0, 100%, 98%, 0.3) 0%,
    hsla(0, 2%, 60%, 0.3) 100%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(0, 100%, 98%, 0.3) 0%,
    hsla(0, 2%, 60%, 0.3) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFF6F6", endColorstr="#9C9898", GradientType=1 );
}

.bg-box-space {
  background: hsla(0, 0%, 84%, 0.3);
  transition: all ease-in-out 5000ms;
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 84%, 0.3) 0%,
    hsla(0, 2%, 60%, 0.3) 100%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(0, 0%, 84%, 0.3) 0%,
    hsla(0, 2%, 60%, 0.3) 100%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(0, 0%, 84%, 0.3) 0%,
    hsla(0, 2%, 60%, 0.3) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D5D5D5", endColorstr="#9C9898", GradientType=1 );
}

a.bg-box-space:hover {
  transition: all ease-in-out 5000ms;

  background: hsla(0, 0%, 84%, 0.5);

  background: linear-gradient(
    0deg,
    hsla(0, 0%, 84%, 0.5) 0%,
    hsla(0, 2%, 60%, 0.5) 100%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(0, 0%, 84%, 0.5) 0%,
    hsla(0, 2%, 60%, 0.5) 100%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(0, 0%, 84%, 0.5) 0%,
    hsla(0, 2%, 60%, 0.5) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D5D5D5", endColorstr="#9C9898", GradientType=1 );
}

div.bg-box-space > a > button:hover {
  background: hsla(0, 0%, 84%, 1);

  background: linear-gradient(
    0deg,
    hsla(0, 0%, 84%, 1) 100%,
    hsla(0, 2%, 60%, 1) 100%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(0, 0%, 84%, 1) 100%,
    hsla(0, 2%, 60%, 1) 100%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(0, 0%, 84%, 1) 100%,
    hsla(0, 2%, 60%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D5D5D5", endColorstr="#9C9898", GradientType=1 );
}
